// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lists {
  
}

.songs {
  
}

.controls {
  top: 0;
  position: absolute; 
}
.controls a {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=3)3
}
.controls a:hover {
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=10);
}
.controls .volume {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.controls .columne a {
  padding: 0;
  margin: 0;
}