// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lists {
  width: 200px;
  border: 1px solid #000;
  display: block;
}

.songs {
}
.progress {
  height: 15px;
}
.navbar{border-bottom:none !important;}
.controls li a{
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}
.controls li a:hover {
  opacity: 1.0 !important;
  -moz-opacity: 1.0 !important;
  filter:alpha(opacity=10 !important1.0 !important);
}